body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f1a2b,#1e3a5f,#142c44,#2a4f7a);
    font-family:'Segoe UI',sans-serif;
    overflow:hidden;
}

canvas{
    position:fixed;
    inset:0;
    z-index:-1;
}

.card{
    background:rgba(30,60,120,0.35);
    backdrop-filter:blur(16px);
    padding:35px;
    border-radius:25px;
    text-align:center;
    color:white;
}

button{
    background:#2a4f7a;
    border:none;
    padding:8px 18px;
    border-radius:20px;
    color:white;
    cursor:pointer;
}

.book{
    width:380px;
    height:500px;
    position:relative;
    perspective:2500px;
    display:none;
}

.book::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:-1;
}

.bg-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}

.page{
    position:absolute;
    width:100%;
    height:100%;
    background:white;
    border-radius:20px;
    transform-origin:left;
    transition:transform 1.3s cubic-bezier(.65,.05,.36,1);
    box-shadow:0 15px 50px rgba(0,0,0,0.35);
    backface-visibility:hidden;
    padding:40px 35px;
    box-sizing:border-box;
    overflow-y:auto;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.page.flipped{
    transform:rotateY(-180deg);
}

.page img{
    width:100%;
    border-radius:12px;
    margin-bottom:18px;
}

.page h2{
    color:#1e4f8a;
    margin-bottom:15px;
    line-height:1.3;
    text-shadow:0 0 10px rgba(30,79,138,0.4);
}

.page p{
    color:#444;
    line-height:1.6;
    font-size:15px;
}

.nav{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.hidden{
    position:absolute;
    inset:0;
    background:rgba(10,30,60,0.95);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
    opacity:0;
    pointer-events:none;
    transition:0.8s;
    border-radius:20px;
}

.hidden.show{
    opacity:1;
    pointer-events:auto;
}

#wishBox{
    display:none;
    text-align:center;
    margin-top:20px;
}

.cake{
    position:relative;
    margin:20px auto;
    width:80px;
    height:80px;
}

.layer{
    width:100%;
    height:50%;
    background:#6fa8dc;
    border-radius:10px 10px 0 0;
}

.candle{
    width:8px;
    height:20px;
    background:#1e4f8a;
    position:absolute;
    top:-20px;
    left:50%;
    transform:translateX(-50%);
    cursor:pointer;
}

.flame{
    width:6px;
    height:10px;
    background:#ffd166;
    position:absolute;
    top:-30px;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
}